@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, rgb(3, 0, 46) , rgb(1, 0, 87));
    color: #fff;
    text-align: center;
}

h1 span {
    color: #0084ff;
}

a:any-link {
    color: rgb(107, 107, 107);
    text-decoration: none;
    font-weight: 800;
}

div.container a:any-link {
    transition: all 1s ease-in-out;
}

div.container a:any-link:hover {
    color: #FFF;
}

div.container {
    margin-top: 25vh;
}

div.container div {
    text-align: center;
    margin: 2em;
}

div.container .cta a {
    color: white;
}

div.container div.cta a:hover {
    color: #000;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}